Source: libapache2-mod-authn-url
Section: web
Priority: optional
Maintainer: Mihai Ghete <mihai.ghete@gmail.com>
Homepage: http://fs.fsinf.at/wiki/RestAuth/Apache
Build-Depends: debhelper (>> 4.0.0), apache2-threaded-dev
Standards-Version: 3.7.2.2

Package: libapache2-mod-authn-url
Architecture: any
Depends: apache2.2-common, ${shlibs:Depends}
Description: BasicAuth provider using a REST service.
 This module offers a Basic Authentication provider that forwards
 requests to a REST-based authentication service.
 .
 This module only works on Apache 2.x servers


