Source: libapache2-mod-authnz-restauth
Section: php
Priority: extra
Maintainer: Mathias Ertl <mati@restauth.net>
Build-Depends: debhelper (>= 9), apache2-threaded-dev, libssl-dev,
 libcurl3 (>= 7.18), libcurl4-openssl-dev, libmemcached-dev,
 hardening-wrapper
Standards-Version: 3.9.1
Homepage: https://restauth.net/wiki/Apache_plugin
Vcs-Browser: https://git.fsinf.at/restauth/apache
Vcs-Git: https://git.fsinf.at/restauth/apache.git

Package: libapache2-mod-authnz-restauth
Replaces: libapache2-mod-authn-restauth (<< 1:0.0-57-gf399eb8)
Breaks: libapache2-mod-authn-restauth (<< 1:0.0-57-gf399eb8)
Architecture: any
Section: httpd
Depends: apache2-api-20120211, ${shlibs:Depends}, ${misc:Depends}
Description: BasicAuth provider for a RestAuth service
 This module provides a Basic Authentication provider that forwards
 requests to a RestAuth-based authentication service.
 .
 This module only works on Apache 2.x servers

Package: libapache2-mod-authn-restauth
Depends: libapache2-mod-authnz-restauth, ${misc:Depends}
Architecture: all
Section: oldlibs
Description: BasicAuth provider for a RestAuth service (transition package)
 This is a transitional dummy package. It can safely be removed.
