Source: libapache2-mod-authn-restauth
Section: php
Priority: extra
Maintainer: Mathias Ertl <apt-repository@fsinf.at>
Build-Depends: debhelper (>= 7.0.50), git-core, restauth-common, apache2-threaded-dev, libcurl3 (>= 7.18), libcurl4-gnutls-dev
Standards-Version: 3.9.1
Homepage: http://fs.fsinf.at/wiki/RestAuth/Apache

Package: libapache2-mod-authn-restauth
Architecture: any
Section: httpd
Depends: apache2.2-common, ${shlibs:Depends}, ${misc:Depends}
Description: BasicAuth provider using a REST service.
 This module offers a Basic Authentication provider that forwards
 requests to a REST-based authentication service.
 .
 This module only works on Apache 2.x servers
