#!/usr/bin/make -f

# check where we are running:
DH_ARGS = --with quilt
DEB_UPSTREAM=$(shell dpkg-parsechangelog | grep '^Source:' | sed  -e 's/[^ ]* //' -e 's/[^:]://')
GIT_URL=https://git.fsinf.at/restauth/apache.git

prepare: cleanup 
	dh_testdir
	python /usr/share/restauth-common/prepare.py ${GIT_URL} ${DEB_UPSTREAM}

cleanup: clean
	dh_testdir
	rm -f debian/patches/.dpkg-source-applied
	ls -A | grep --invert-match "^debian" | xargs rm -rf
	dh_clean

%:
	dh ${DH_ARGS} $@

override_dh_auto_build:
	make

override_dh_auto_install:

override_dh_auto_test:
